{{#partial "content" }}

<h1>Oops, an encounter has occurred and has been logged.</h1>

<p>Please try go to the <a href="/">home page</a>, if this occurs frequently please contact support.</p>

{{/partial}}
{{> master path="exception"}}