{{#partial "content" }}

<h1>Oops, page has not been found.</h1>

<p>Please go to the <a href="/">home page</a>, if this page has been found in error please contact support.</p>

{{/partial}}
{{> master path="not-found"}}