<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-tabs-x.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap/footer.css" type="text/css">

    <title>Tweet Classification</title>

    <style>
        .filter a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            padding: 5px 20px;
            margin: 1px;
            border-radius:4px;
            margin-top: 6px;
            background-color: black;
            border: solid 1px #fff;
        }

        .chart-container {
            position: relative;
            height: 40vh;
            width: 40vw;
            margin: 20px auto;
        }
    </style>
</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap/bootstrap-tabs-x.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap/jquery.twbsPagination.min.js" type="text/javascript"></script>
<script src="/assets/js/chart/Chart.bundle.min.js" type="text/javascript"></script>

<script src="/assets/js/navigation.js" type="text/javascript"></script>

<!--
  Navbar will be consistent throughout
 -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark navbar-fixed">
    <div class="container">
        <a class="navbar-brand" href="/" data-toggle="tooltip" data-placement="bottom" title="Return home">Tweet Classification</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search hashtags/users" id="searchTermValue">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchTerm" data-toggle="tooltip" data-placement="bottom" title="Perform search using term">Search</button>
                </form>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link {{pathIsActive this path 'dashboard'}}" href="/" data-toggle="tooltip" data-placement="bottom" title="Return home">Dashboard</a>
                </li>
                <li class="nav-item"><a class="nav-link {{pathIsActive this path 'users'}}" href="/users" data-toggle="tooltip" data-placement="bottom" title="Go to users page">Users</a></li>
                <li class="nav-item"><a class="nav-link {{pathIsActive this path 'hashtags'}}"
                                        href="/hashtags" data-toggle="tooltip" data-placement="bottom" title="Go to hashtags page">Hashtags</a></li>
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" id="navDropDown" data-toggle="dropdown" aria-haspopup="true"-->
                       <!--aria-expanded="false">More</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropDown">-->
                        <!--<a class="dropdown-item" href="/terms" data-toggle="tooltip" data-placement="bottom" title="View terms of service">Terms of Service</a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<section class="messages"></section>

<div class="content">
<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <main>
        {{#block "content"}}{{/block}}
    </main>
</div>
</div>

<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>About</h5>
                <p class="text-light">A Final Year Project for BEng in Software Engineering for Ulster University.</p>
            </div>
            <div class="col-sm-6">
                <div class="text-center" style="margin-top: 20px;">
                    <img src="https://www.aspenpeople.co.uk/UU/images/logo_white.png" style="width: 300px; height: 100px;">
                </div>
            </div>
            <div class="col-sm-3 info">
                <h5>Contact</h5>
                <p class="text-light">Thomas Franklin</p>
                <p class="text-light">franklin-t@ulster.ac.uk</p>
            </div>
        </div>
    </div>
    <div class="second-bar">
        <div class="container">
            <h2 class="logo"><a href="/" data-toggle="tooltip" data-placement="bottom" title="Return home">Tweet Classification</a></h2>
            <div class="footer-links">
                <a href="/users" data-toggle="tooltip" data-placement="bottom" title="Go to users page">Users</a>
                <a href="/hashtags" data-toggle="tooltip" data-placement="bottom" title="Go to hashtags page">Hashtags</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>