{{#partial "content"}}
<div class="row">
    <div class="col-md-12 mb-1">
        <div class="visualisation-boards">
            <h1>No results found for: <span class="search-term">{{searchTerm}}</span></h1>

            <p>The search function only allows to search for particular Twitter users, using their usernames or
                particular hashtags that have been streamed in to the service with the current filter.</p>

            <p>If you would like, you could preform a new search for one of the suggested terms below:</p>

        </div>
    </div>
</div>

{{/partial}}
{{> master path="search"}}